.containerBox {
  margin: auto;
  align-items: top;
  justify-content: center;
}

@media (min-width: 750px) {
  .containerBox {
    display: flex;
    margin: auto;
    align-items: top;
    gap: 10px;
  }
}

.one {
  flex: 1 1;

  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 324px;
}

.two {
  flex: 2 1;
  margin-bottom: 10px;
  max-width: 650px;
}

.titreContainer {
  margin-top: 8vh;
  margin-bottom: 8vh;
  display: flex;
  justify-content: center;
}

.titre {
  font-size: 5rem;
  font-weight: bold;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  z-index: 100;
  position: relative;
  width: 974px;
  /* margin-bottom: 200px; */
}

.sousTitre {
  font-size: 2rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.color {
  background-color: blue;
  position: absolute;
  opacity: 60%;
  height: 40%;
  width: 100%;

  top: 0px;
  left: 0px;
}
/* 
.image {
  background-color: blue;
  position: absolute;
  opacity: 60%;
  height: 80%;
  width: 80%;
  top: 0px;
  left: 0px;
  right: 0px;
} */
.page {
  margin: 20px;
}
