.responsive {
  width: 80%;
  height: auto;
}

.imageContainer {
  max-width: 55%;
}
.responsiveSmaller {
  width: 100%;
  height: auto;
}

.card {
  display: flex;
  gap: 10px;
  border: solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  justify-content: space-between;
}

.description {
  max-width: 55%;
  text-align: justify;
}
