.card{
  background-color: lightgrey;
  padding: 10px 10px 0 10px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: min-content;
}

.tournament_name{
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 1em;
  padding-left: 10px;
  padding-top: 10px;
}